.button-albums {
  background-color:  rgb(200, 234, 238); 
  box-shadow: 2px 2px 5px rgba(0, 0, 139, 0.2);
  border-radius: 8px; 
  border: none;
  width: 150px; 
  padding: 10px; 
  margin: 10px; 
  text-align: center;
  transition: box-shadow 0.3s, transform 0.3s, color 0.3s; 
  font-size: 14px;
  color: rgb(0, 0, 139); 
}
.button-albums:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 139, 0.2);
  transform: translate(-3px, -3px); 
}